<!--   	<% @posts.each do |post| %>
  	<%= image_tag post.image.url(:medium) %>
  	<%= post.caption %>
	<% end %> -->

<!-- 	<% @posts.each do |post| %>
  <div class="row">
    <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
    <p>
      <%= post.caption %>
    </p>
  </div>
<% end %> -->


<div class="posts-wrapper row">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
        Reena
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>

      </div>
      <p class="caption">
        <%= post.caption %>
      </p>
    </div>
  <% end %>
</div>
